/****************
 Style Variables
 ****************/
/****************
 nav
 ****************/
/****************
 main
 ****************/
/****************
 media queries
 ****************/
/****************
 header
 ****************/
/* header */
header {
  /* floating header */
  position: fixed;
  z-index: 1000;
  top: 0;
  /* header styles */
  background-color: #141414;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  border-bottom: 1px solid #84754f;
  /* flexbox */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center; }
  header span {
    color: white;
    padding: 10px 0 10px;
    border-bottom: 1px solid #84754f; }

/* nav */
.main-nav {
  /* flexbox */
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* styles */
  padding: 0;
  margin: 0;
  width: 100%; }
  .main-nav li {
    list-style-type: none; }

.main-nav:first-child {
  margin-left: 0; }

.main-nav a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px; }
.main-nav a:hover {
  color: #84754f; }
.main-nav .current-link {
  color: #84754f; }

@media (min-width: 600px) {
  /* header content */
  header {
    flex-direction: row;
    align-items: normal;
    justify-content: space-between;
    padding: 5px 0; }
    header span {
      border-bottom: none;
      border-right: 1px solid #84754f;
      border-left: 1px solid #84754f;
      padding: 0 32px;
      align-self: center;
      margin-left: 32px; }

  .main-nav {
    flex-wrap: wrap;
    width: auto;
    margin: 0 20px; } }
/****************
 Hero Div
 ****************/
/* hero image */
.hero-div {
  background-image: url("../assets/hero.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 700px; }

.overlay {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 140px;
  padding-left: 16px; }
  .overlay h1 {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: #84754f; }
  .overlay p {
    font-family: 'Source Sans Pro', sans-serif;
    padding-right: 30vw;
    font-weight: 400;
    font-size: 16px;
    color: white;
    line-height: 1em;
    margin-bottom: 5px; }

@media (min-width: 500px) {
  .overlay {
    padding-left: 32px; }
    .overlay h1 {
      font-size: 48px; }
    .overlay p {
      font-size: 24px;
      padding-right: 30vw; } }
@media (min-width: 850px) {
  .overlay h1 {
    font-size: 64px; }
  .overlay p {
    font-size: 24px;
    padding-right: 40vw; } }
/* footer */
footer {
  padding-bottom: 10px;
  background-color: #141414; }
  footer p {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    text-align: center;
    color: white; }
  footer li {
    list-style-type: none;
    display: inline-block;
    padding: 10px; }
  footer ul {
    text-align: center;
    margin: 0;
    padding: 0; }

ul img {
  width: 20px; }

.about-div {
  padding-top: 120px; }

.about-intro {
  padding-left: 16px; }
  .about-intro p:first-of-type {
    color: #84754f;
    font-family: "Source Sans Pro", sans-serif;
    margin-bottom: 32px; }
  .about-intro h1 {
    color: #fff;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 32px;
    padding-bottom: 16px;
    margin-bottom: 0; }
  .about-intro p:nth-of-type(2) {
    color: #fff;
    font-family: "Source Sans Pro", sans-serif;
    margin-bottom: 0;
    padding-bottom: 80px; }

.about-content {
  background-color: #fff;
  padding: 80px 16px; }
  .about-content p {
    font-family: "Source Sans Pro", sans-serif; }

.about-contact {
  background-color: #84754f;
  padding-top: 80px;
  padding-left: 16px;
  padding-bottom: 80px;
  color: #fff; }
  .about-contact p {
    color: #141414;
    font-family: "Source Sans Pro", sans-serif; }
  .about-contact h1 {
    font-size: 32px;
    font-family: "Source Sans Pro", sans-serif;
    padding-bottom: 24px; }
  .about-contact a {
    color: #fff;
    text-decoration: none; }

.about-other {
  background-color: #fff;
  padding: 80px 16px; }
  .about-other p:first-of-type {
    color: #84754f; }
  .about-other p {
    font-family: "Source Sans Pro", sans-serif; }

.about-content a,
.about-other a {
  color: #84754f; }
.about-content a:hover,
.about-other a:hover {
  background-color: #84754f;
  text-decoration: none;
  color: #fff; }

@media screen and (min-width: 500px) {
  .about-intro,
  .about-content,
  .about-contact,
  .about-other {
    padding-left: 32px;
    padding-right: 20vw; }
    .about-intro p,
    .about-content p,
    .about-contact p,
    .about-other p {
      font-size: 18px; } }
@media screen and (min-width: 750px) {
  .about-intro,
  .about-content,
  .about-contact,
  .about-other {
    padding-left: 64px;
    padding-right: 20vw; } }
@media screen and (min-width: 1020px) {
  .about-intro,
  .about-content,
  .about-contact,
  .about-other {
    padding-left: 64px;
    padding-right: 30vw; }
    .about-intro p,
    .about-content p,
    .about-contact p,
    .about-other p {
      font-size: 20px; } }
main {
  background-color: #141414; }

.contact-info {
  background-color: #141414;
  padding-top: 120px;
  padding-left: 16px; }
  .contact-info p {
    color: #84754f;
    font-family: "Source Sans Pro", sans-serif;
    margin-bottom: 32px; }
  .contact-info .email {
    color: #fff;
    display: inline-block;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 32px;
    margin-bottom: 32px; }
  .contact-info .email:hover {
    color: #84754f;
    text-decoration: none; }
  .contact-info h3 {
    color: #fff;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 24px;
    padding-bottom: 64px;
    padding-right: 48px; }
  .contact-info ul {
    margin-bottom: 0;
    padding-bottom: 120px;
    display: flex;
    padding-left: 0; }
  .contact-info li {
    list-style-type: none; }
  .contact-info a {
    color: white;
    font-size: 24px;
    text-decoration: none;
    display: block;
    padding: 0 30px 10px; }
  .contact-info a:hover {
    text-decoration: underline;
    color: #84754f; }
  .contact-info a:first-child {
    padding-left: 0; }

@media screen and (min-width: 600px) {
  .contact-info h3 {
    padding-right: 30vw; } }
@media screen and (min-width: 1020px) {
  .contact-info {
    max-width: 1020px;
    margin: 0 auto; }
    .contact-info h3 {
      padding-right: 30vw; } }

/*# sourceMappingURL=styles.css.map */
