
/****************
 Style Variables
 ****************/

$color-accent: #84754f;
$color-black: #141414;

$normal-font: 'Source Sans Pro', sans-serif;
$bold-font: 'Titillium Web', sans-serif;

/****************
 nav
 ****************/

/****************
 main
 ****************/

/****************
 media queries
 ****************/
