

/****************
 header
 ****************/

/* header */
header {
  /* floating header */
  position: fixed;
  z-index: 1000;
  top: 0;

  /* header styles */
  background-color: #141414;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  border-bottom: 1px solid #d3d3d3;

  /* flexbox */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

  span {
    color: white;
    padding: 10px 0 10px;
    border-bottom: 1px solid #daa520;
  }
}

/* nav */
.main-nav {
  /* flexbox */
  display: flex;
  justify-content: space-around;
  align-items: center;

  /* styles */
  padding: 0;
  margin: 0;
  width: 100%;

  li {
    list-style-type: none;
  }
}

.main-nav:first-child {
  margin-left: 0;
}

.main-nav {
  a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
  }
  a:hover {
    color: #daa520;
  }
}

@media (min-width: 600px) {
  /* header content */
  header {
    flex-direction: row;
    align-items: normal;
    justify-content: space-between;
    padding: 5px 0;

    span {
      border-bottom: none;
      border-right: 1px solid #daa520;
      border-left: 1px solid #daa520;
      padding: 0 32px;
      align-self: center;
      margin-left: 32px;
    }
  }

  .main-nav {
    flex-wrap: wrap;
    width: auto;
    margin: 0 20px;
  }
}
