
.work-div {
  background-color: $color-black;
  padding: 120px 16px;

  p {
    color: $color-accent;
    font-family: $normal-font;
    margin-bottom: 32px;
  }

  h1 {
    color: #fff;
    font-family: $normal-font;
    font-size: 24px;
    margin-bottom: 84px;
  }
}
