
.work-div {
  background-color: $color-black;
  padding: 120px 16px;

  p {
    color: $color-accent;
    font-family: $normal-font;
    margin-bottom: 32px;
  }

  h1 {
    color: #fff;
    font-family: $normal-font;
    font-size: 24px;
    margin-bottom: 84px;
  }
}

.card-styles {
  max-width: 300px;
}

@media screen and (min-width: 600px) {
  .work-div {
    h1 {
      padding-right: 30vw;
    }
  }
}

@media screen and (min-width: 1020px) {
  .work-div {
    max-width: 1020px;
    margin: 0 auto;
    h1 {
      padding-right: 30vw;
    }
  }
}
